.container {
  border-radius: 25px;
  background: rgb(61, 77, 40); 
  border-color: black
}

.calculator-display {
  border-radius: 25px;
  background: #73AD21;
}

button {
  border-radius: 25px;
  background: #73AD21;
  cursor: pointer;  
}
